.travis.yml
*.o
*.lo
shadows.dat
bin_unix/native_client
bin_unix/native_server
config/authpreprivate.cfg
config/authprivate.cfg
config/history
config/init.cfg
config/saved*.cfg
config/servers.cfg
config/configtemplates.zip
config/mapmodelattributes.cfg
config/entropy.dat
packages/maps/*.cfg
!packages/maps/new_content.cfg
packages/maps/*.cgz
!packages/maps/new_content.cgz
!packages/maps/dev_*.cgz
packages/misc/checksums_md5.txt
source/codeblocks/AssaultCube.layout
source/codeblocks/AssaultCube_Linux.layout
source/enet/.deps/
source/enet/.libs/
source/enet/Makefile
source/enet/config.log
source/enet/config.status
source/enet/libenet.la
source/enet/libenet.pc
source/enet/libtool
source/src/ac_client
source/src/ac_server
source/src/cube.h.gch
source/src/Makefile_local
clientlog*.txt
dumpmapconfig.txt
packetlog.txt
profile/*

.vscode/settings.json
bin_win32/ac_client.exe
source/vcpp/assaultcube.vcxproj.user
source/vcpp/.vs/assaultcube/v16/.suo
source/vcpp/.vs/assaultcube/v16/Browse.VC.db
source/vcpp/.vs/assaultcube/v16/Browse.VC.db-shm
source/vcpp/.vs/assaultcube/v16/Browse.VC.db-wal
source/vcpp/.vs/assaultcube/v16/Browse.VC.opendb
source/vcpp/.vs/assaultcube/v16/ipch/ecd917259890258b.ipch
source/vcpp/Release/ac_bot_ai.obj
source/vcpp/Release/ac_bot.obj
source/vcpp/Release/ac_client.Build.CppClean.log
source/vcpp/Release/ac_client.exe.recipe
source/vcpp/Release/ac_client.pdb
source/vcpp/Release/assaultcube.log
source/vcpp/Release/assaultcube.map
source/vcpp/Release/assaultcube.res
source/vcpp/Release/assaultcube.vcxproj.FileListAbsolute.txt
source/vcpp/Release/audiomanager.obj
source/vcpp/Release/autodownload.obj
source/vcpp/Release/bot_ai.obj
source/vcpp/Release/bot_util.obj
source/vcpp/Release/bot_waypoint.obj
source/vcpp/Release/bot.obj
source/vcpp/Release/botmanager.obj
source/vcpp/Release/client.obj
source/vcpp/Release/clientgame.obj
source/vcpp/Release/clients2c.obj
source/vcpp/Release/command.obj
source/vcpp/Release/console.obj
source/vcpp/Release/crypto.obj
source/vcpp/Release/cube.pch
source/vcpp/Release/docs.obj
source/vcpp/Release/editing.obj
source/vcpp/Release/entities.obj
source/vcpp/Release/http.obj
source/vcpp/Release/log.obj
source/vcpp/Release/main.obj
source/vcpp/Release/menus.obj
source/vcpp/Release/oggstream.obj
source/vcpp/Release/openal.obj
source/vcpp/Release/packetqueue.obj
source/vcpp/Release/pch.obj
source/vcpp/Release/physics.obj
source/vcpp/Release/protocol1.obj
source/vcpp/Release/rendercubes.obj
source/vcpp/Release/rendergl.obj
source/vcpp/Release/renderhud.obj
source/vcpp/Release/rendermodel.obj
source/vcpp/Release/renderparticles.obj
source/vcpp/Release/rendertext.obj
source/vcpp/Release/rndmap.obj
source/vcpp/Release/scoreboard.obj
source/vcpp/Release/server.obj
source/vcpp/Release/serverbrowser.obj
source/vcpp/Release/serverms.obj
source/vcpp/Release/shadow.obj
source/vcpp/Release/soundlocation.obj
source/vcpp/Release/soundscheduler.obj
source/vcpp/Release/stream.obj
source/vcpp/Release/texture.obj
source/vcpp/Release/tools.obj
source/vcpp/Release/water.obj
source/vcpp/Release/weapon.obj
source/vcpp/Release/world.obj
source/vcpp/Release/worldio.obj
source/vcpp/Release/worldlight.obj
source/vcpp/Release/worldocull.obj
source/vcpp/Release/worldrender.obj
source/vcpp/Release/zip.obj
source/vcpp/Release/assaultcube.tlog/assaultcube.lastbuildstate
source/vcpp/Release/assaultcube.tlog/CL.command.1.tlog
source/vcpp/Release/assaultcube.tlog/CL.read.1.tlog
source/vcpp/Release/assaultcube.tlog/CL.write.1.tlog
source/vcpp/Release/assaultcube.tlog/link.command.1.tlog
source/vcpp/Release/assaultcube.tlog/link.read.1.tlog
source/vcpp/Release/assaultcube.tlog/link.write.1.tlog
source/vcpp/Release/assaultcube.tlog/rc.command.1.tlog
source/vcpp/Release/assaultcube.tlog/rc.read.1.tlog
source/vcpp/Release/assaultcube.tlog/rc.write.1.tlog
bin_win32/ac_server.exe
source/vcpp/assaultcube.vcxproj
source/vcpp/.vs/assaultcube/v16/ipch/AutoPCH/dc4c548a060ddb56/SERVER.ipch
source/vcpp/Standalone/ac_server.exe.recipe
source/vcpp/Standalone/ac_server.pdb
source/vcpp/Standalone/assaultcube.log
source/vcpp/Standalone/assaultcube.map
source/vcpp/Standalone/assaultcube.res
source/vcpp/Standalone/crypto.obj
source/vcpp/Standalone/log.obj
source/vcpp/Standalone/protocol1.obj
source/vcpp/Standalone/server.obj
source/vcpp/Standalone/serverms.obj
source/vcpp/Standalone/stream.obj
source/vcpp/Standalone/tools.obj
source/vcpp/Standalone/wizard.obj
source/vcpp/Standalone/assaultcube.tlog/assaultcube.lastbuildstate
source/vcpp/Standalone/assaultcube.tlog/CL.command.1.tlog
source/vcpp/Standalone/assaultcube.tlog/CL.read.1.tlog
source/vcpp/Standalone/assaultcube.tlog/CL.write.1.tlog
source/vcpp/Standalone/assaultcube.tlog/link.command.1.tlog
source/vcpp/Standalone/assaultcube.tlog/link.read.1.tlog
source/vcpp/Standalone/assaultcube.tlog/link.write.1.tlog
source/vcpp/Standalone/assaultcube.tlog/rc.command.1.tlog
source/vcpp/Standalone/assaultcube.tlog/rc.read.1.tlog
source/vcpp/Standalone/assaultcube.tlog/rc.write.1.tlog
source/vcpp/assaultcube.vcxproj
source/vcpp/.vs/assaultcube/v16/ipch/
serverlog_*.txt
*_log.txt
